@font-face {
	font-family: "Noto Sans";
	src: url('fonts/NotoSans-Regular.ttf'),
		url('fonts/NotoSans-Bold.ttf');
}

@font-face {
	font-family: "Sanchez";
	src: url('fonts/Sanchez-Regular.ttf');
}

$mobile-break: 980px;

:root {
	--m-width: 1120px;
}


body {
	font-size: 16px;
	font-family: "Noto Sans", Arial, sans-serif;
	line-height: 24px;
	color: #B9B4AC;

	background: #17181C;

	margin: 0;
}

header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 30px 0;

	h1 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 2px;
		margin: 0;
	}
}

article {
	width: 100vw;
	max-width: var(--m-width, 110px);
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
	padding: 0 50px;
	box-sizing: border-box;
}


figure {
	text-align: center;
	margin: 0;

	img {
		width: 100%;
		max-width: 650px;
		border: 8px solid #8E6918;
		box-sizing: border-box;
	}

	figcaption {
		color: #B9B4AC;
	}
}

h2 {
	font-size: 31px;
	font-weight: 400;
	font-family: "Sanchez", Rockwell, Georgia, serif;
	line-height: 1.4;
	text-align: center;
	color: #ffffff;
	margin: 50px 0 30px 0;
	max-width: 800px;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 72px;
		border-bottom: 1px solid #fff;
	}

	&::before {
		left: 0;
		right: calc(50% + var(--gap));
	}

	&::after {
		right: 0;
		left: calc(50% + var(--gap));
	}
}

video {
	max-height: 500px;
	width: 100%;
	background: #171717;
}

section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;

	@media (max-width: $mobile-break) {
		align-items: flex-start;
	}
}

.middle {
	.row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
		column-gap: 150px;
	}

	h2 {
		--gap: 400px;
	}

	.thanks {
		h3 {
			color: #ffffff;
		}
	}

	.service {
		min-width: 350px;

		h3 {
			color: #EBCC89;
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		margin-top: 30px;
		width: 100%;
		color: #ffffff;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 14px;
		background-color: #00000000;
		transition: 0.5s;

		border: 1px solid #353535;
		border-radius: 30px;
		padding: 10px;
		text-transform: uppercase;
		box-sizing: border-box;

		&:hover {
			background-color: #2D3645;
		}
	}
}

h3 {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.parting-words {
	--gap: 200px;
}

.downloads {
	h2 {
		--gap: 130px;
		margin-bottom: 0;
	}

	ol {
		width: 100%;
		max-width: 750px;
		margin: auto;
		padding: 0;

		@media (max-width: $mobile-break) {
			max-width: unset;
		}
	}

	li {
		display: flex;
		margin: 2px 0;
	}

	a {
		width: 100%;
		padding: 15px 20px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		font-weight: 700;
		color: inherit;

		cursor: pointer;

		background: #000000;
		text-decoration: none;
		transition: 0.2s;

		&:hover {
			background: transparent;
		}
	}

	.download {
		margin: 0;
		color: #EBCC89;
		font-weight: 400;
		margin-left: 10px;
	}
}

footer {
	max-width: var(--m-width);

	text-align: center;

	margin: auto;
	margin-top: 100px;

	color: #ffffff;
	font-size: 14px;
	padding: 0 50px;
}

@media screen and (max-width: $mobile-break) {
	h2 {
		width: 100%;
		text-align: left;

		&::before,
		&::after {
			display: none;
		}
	}

	.middle {
		.row {
			display: block;

			.thanks,
			.service {
				margin-top: 50px;
			}

			.service {
				a {
					width: 350px;
				}
			}
		}
	}
}